<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>All product</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">

	<h3>Product Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Product
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="item : ${listProduct}">
			
				<td th:text="${item.id}" />	
				<td th:text="${item.name}" />	
				<td th:text="${item.price}" />
				<td th:text="${item.description}" />	
				
				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/showFormForUpdate(productId=${item.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Add "delete" button/link -->					
					<a th:href="@{/delete(productId=${item.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this product?'))) return false">
						Delete
					</a>
					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
</body>
</html>